<div class="body">
    <div class="login">
        <h1>Ingresar</h1>
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off" type="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Entrar</button>
    </div>
</div>