.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(248, 247, 246);
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-form-field {
    margin-right: 8px;
}